/* Fonts */
@font-face {
    font-family: pfd-bold;
    src: url('./fonts/PlayfairDisplay-Bold.otf');
} 

@font-face {
    font-family: droid-italic;
    src: url('./fonts/DroidSerif-Italic.ttf');
}

@font-face {
    font-family: droid-reg;
    src: url('./fonts/DroidSerif-Regular.ttf');
}

@font-face {
    font-family: lato-reg;
    src: url('./fonts/Lato-Regular.ttf');
} 
/* ********************************************************* */
* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #F7ECE1;
    color: #311E10;
}

/**************************** Navigation bar *********************/
.site-content {
    max-width: 100vw;
    min-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* can remove later */
.site-content__headline {
    font-weight: 200;
    color: #311E10;
    font-size: calc(2vw + 10px);
}

.menu-icon {
    height: 20px;
    width: 30px;
    position: fixed;
    z-index: 2;
    right: 1.5vw;
    top: 20px;
    cursor: pointer;
}
.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #311E10;
    margin-bottom: 4px;
    transition: transform 0.2s ease, background-color 0.5s ease;
}
.menu-icon__line-left {
    width: 15px;
}
.menu-icon__line-right {
    width: 15px;
    float: right;
}
  
.nav {
    position: fixed;
    z-index: 1;
}

.nav:before, .nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, 0.2);
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%);
}

.nav:after {
    background: #311E10;
    transition-delay: 0s;
}

.nav:before {
    transition-delay: 0.1s;
}

.nav__content {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 10px);
    font-weight: 200;
    font-family: droid-reg;
    color: #F7ECE1;
}


.nav__list-item {
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    /* added this */
    position: absolute;
    transform: translate(0%, 100%);
    transition: opacity 0.2s ease, transform 0.3s ease;
    margin-right: 25px;
}

.nav__list-item:before {
    content: "";
    position: absolute;
    background: #F7ECE1;
    width: 20px;
    height: 1px;
    top: 100%;
    transform: translate(0%, 0%);
    transition: all 0.3s ease;
    z-index: -1;
}

.nav__list-item:hover:before {
    width: 100%;
}


.nav__list-item:hover {
    font-weight: 300;
    background-color: #5AB1BB;
}
  
body.nav-active .menu-icon__line {
    background-color: #F7ECE1;
    transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
    transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
    transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav {
    visibility: visible;
}

body.nav-active .nav:before, body.nav-active .nav:after {
    transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
    transition-delay: 0.1s;
}

body.nav-active .nav:before {
    transition-delay: 0s;
}

body.nav-active .nav__list-item {
    opacity: 1;
    position: initial;
    cursor: pointer;
    transform: translateX(0%);
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
    transition-delay: 0.5s;
}

body.nav-active .nav__list-item:nth-child(1) {
    transition-delay: 0.6s;
}

body.nav-active .nav__list-item:nth-child(2) {
    transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(3) {
    transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(4) {
    transition-delay: 0.9s;
}

/* Body */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* maybe should keep 100% */
    min-height: 100vh; 
    max-height: 100vh;
}

/* Hero page */

.hero-img {
    display: flex;
    width: 300px;
    height: auto;
}

.hero-title {
    margin: 0;
    padding: 0%;
    font-size: calc(16pt + 8vw);
    text-shadow: 0.2vw 0.2vw #5AB1BB;
    font-family: pfd-bold;
}

.hero-subtitle {
    margin: 0;
    padding: 10px 0px 0px 0px;
    font-size: calc(8pt + 2.5vw);
    font-family: droid-reg;
}
/* ******************************************************** */
.projects {
    width: 100%;
    min-height: 100vh; 
    /* max-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj-title {
    width: 100vw;
    text-align: center;
    font-family: pfd-bold;
    font-size: calc(12pt + 3vw);
    color: #311E10;
    padding-bottom: 20px;
}

#proj-category {
    width: 100vw;
    font-family: droid-reg;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-btn {
    border: none;
    outline: none;
    /* width: 8vw; */
    padding: 5px 12px;
    background-color: #5AB1BB;
    cursor: pointer;
    color: #F7ECE1;
    margin: 0px 10px 0px 10px;
    border-radius: 5%;
    font-family: droid-reg;
    transition: all 0.4s ease-in-out;
    font-size: calc(8pt + 0.5vw);
}

.filter-btn:hover {
    background-color: #F3C580;
    color: #311E10;
    transition: all 0.2s ease-in-out;
    
}

.btn-active {
    background-color: #F3C580;
    color: #311E10;
    transition: all 0.4s ease-in-out;
}

.proj-container {
    flex-wrap: wrap;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-div {
    width: 300px;
    height: 200px;
    white-space: nowrap;
    margin: 0px 2vw;
    background-color: #311E10;
    color: #F7ECE1;
    display: none; /* Hidden by default */
  }
  
/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
  