html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}

ul li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-item {
    margin-right: 1rem;
    margin-left: 1rem;
}

a {
    text-decoration: none;
}

nav {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

/* Hero section CSS */
.hero {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.9rem;
    max-width: 1100px;
    margin: 2rem auto -6rem; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-img {
    width: 20%;
    height: auto;
    margin-bottom: -50px;
}